#main #about {
  padding-top: 30px;
  padding-bottom: 0px;

}

#main #about #about-text .blog-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
  background: #efefef;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 10px;

  overflow: hidden;

}

#main #about #about-text .blog-card .photo-wrapper {
  position: relative;
  z-index: 0;
  height: 200px;
}

#main #about #about-text .blog-card .photo-wrapper .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform .2s;
}

#main #about #about-text .description h1, h2 {
  font-family: Helvetica, sans-serif;
}

#main #about #about-text .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

#main #about #about-text .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

#main #about #about-text .description .read-more a :hover :after {
  margin-left: 5px;
}

#main #about #about-text .description p {
  position: relative;
  margin: 1rem 0 0;
}

